.card-text-content {
    height: 75px;
    max-height: 100px;
    overflow:  hidden;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.disabled {
    cursor: not-allowed;
}

.pagination li.active {
    background-color: #0D47A1;
}