<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!--
 test

Readme :
Issues:
I believe, sorting should be done in Backend because :
- Sorting only in limited paginated record will confuse end users because, it is not going to be a true sort
- Also added limed of (9) to each page via URL parameter to match requirement

-->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="./css/custom.css">

	<title>Cat Fact</title>
</head>
<body>

<div id="cat_app">
	<div v-if="!loading"> loading ..</div>
	<div>
		<h3>Readme</h3>
		<p>Issue/s:
			I believe, sorting should be done in Backend because , Sorting in this situation is limited to paginated
			record. Which will confuse end users because, it is not going to be a true sort for entire full result.
			<BR>
			- Also added limed of (9) to each page via URL parameter to match requirement
		</p>
	</div>


	<div class="row">


		<div v-if="cat_data">

			<!--cards-->
			<div>
				<div class="col s12 l4 center-align" v-for="cat in cat_data.data">
					<div class="card blue darken-4">
						<div class="card-content white-text">
							<span class="card-title">Cat Length {{ cat.length }} </span>
							<p class="card-text-content">{{ cat.fact }}</p>
						</div>
						<div class="card-action">
							<a class="waves-effect waves-light modal-trigger" href="#modal1"
							   @click="getRandomImage( cat )">More Info..</a>
						</div>
					</div>
				</div>
			</div>

			<!--links-->
			<BR>
			<div class="card-content valign center clearfix">
				<ul class="pagination">
					<li class="waves-effect" v-for="link in cat_data.links"
					    :class="{ active: link.active }"

					>
						<a href="#" @click="getCats( link.url + '&limit=9' )"
						   v-if=" link.url != null || link.label =='...'  "
						   :class="{ disabled: link.label == '...' }"

						>
							{{ link.label }}
						</a></li>

				</ul>
			</div>

		</div>


		<!-- Modal Structure -->
		<div id="modal1" class="modal">
			<div class="modal-content">
				<h4>{{ modal.title }}</h4>
				<img :src="modal.image.url" :alt="modal.title" class="responsive-img center-align">
				<p> {{ modal.description}}</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
			</div>
		</div>


	</div>


</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://unpkg.com/vue@3.2.23/dist/vue.global.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="./cat_app.js"></script>

</body>
</html>